// == Header components ==
.logo {
  height: 3.2rem;
  margin-left: 2rem;
}

.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__input {
    font-family: inherit;
    font-size: 1.4rem;
    outline: none;
    border: none;
    border-radius: 100px;
    padding: 0.4rem 1.2rem;
    background-color: var(--color-grey-light-2);
    width: 90%;
    transition: all 0.2s;

    &:focus {
      width: 100%;
    }

    &::placeholder {
      color: var(--color-grey-dark-3);
    }
  }

  &__button {
    margin-left: -3.2rem;
    border: none;
    background-color: var(--color-grey-light-2);
    // pointer-events: none;
    cursor: pointer;
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-2);
  }
}


.user-nav {

  display: flex;
  align-self: stretch;
  // background-color: lightblue;

  & > * {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    transition: background 0.2s;
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
  }

  &__notification {
    font-size: 0.8rem;
    background-color: var(--color-primary);
    border-radius: 50%;
    width: 1.6rem;
    height: 1.6rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  &__user {
  }

  &__user-photo {
    border-radius: 50%;
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 1.2rem;
  }

  &__user-name {
    font-size: 1.4rem;
  }
}

// == Main Navigation components ==
.side-nav {

  list-style-type: none;
  margin-top: 3.2rem;

  &__item {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 3px;
      height: 100%;
      background-color: var(--color-primary);
      top: 0;
      left: 0;
      transform: scaleY(0);
      transition: transform 0.2s,
                  width .4s cubic-bezier(1,0,0,1) 0.2s,
                  background-color 0.1s;
      // z-index:
    }

    &:hover::before,
    &--active::before {
      transform: scaleY(1);
      width: 100%;
    }

    &:active::before {
      background-color: var(--color-primary-light);
    }

  }

  &__link:link,
  &__link:visited {
    // creates stacking context for z-index
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    padding: 1.6rem 2.4rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-grey-light-3);
  }

  &__icon {
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 1rem;
    fill: currentColor;

  }
}

// == Footer for main navigation ==
.sidebar__footer {
  font-size: 1.2rem;
  text-align: center;
  color: var(--color-grey-light-4);
  padding: 1.6rem 3.2rem;
}

// == Hotel Photo Gallery ==
.gallery {
  display: flex;

  &__item {
  }

  &__photo {
    width: 100%;
  }
}

