// == Header components ==
.logo {
  height: 3.2rem;
  margin-left: 2rem;
}

.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $bq-smallest) {
    flex: 0 0 100%;
    background-color: var(--color-grey-light-2);
    order: 1;
  }


  &__input {
    font-family: inherit;
    font-size: 1.4rem;
    outline: none;
    border: none;
    border-radius: 100px;
    padding: 0.4rem 1.2rem;
    background-color: var(--color-grey-light-2);
    width: 90%;
    transition: all 0.2s;

    &:focus {
      width: 100%;
    }

    &::placeholder {
      color: var(--color-grey-dark-3);
    }
  }

  &__button {
    margin-left: -3.2rem;
    border: none;
    background-color: var(--color-grey-light-2);
    // pointer-events: none;
    cursor: pointer;
  }

  &__icon {
    height: 1.8rem;
    width: 1.8rem;
    fill: var(--color-grey-dark-2);
  }
}


.user-nav {

  display: flex;
  align-self: stretch;
  // background-color: lightblue;

  & > * {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    transition: background 0.2s;
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    width: 1.8rem;
    height: 1.8rem;
  }

  &__notification {
    font-size: 0.8rem;
    background-color: var(--color-primary);
    border-radius: 50%;
    width: 1.6rem;
    height: 1.6rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  // &__user {
  // }

  &__user-photo {
    border-radius: 50%;
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 1.2rem;
  }

  &__user-name {
    font-size: 1.4rem;
  }
}

// == Main Navigation components ==
.side-nav {

  list-style-type: none;
  margin-top: 3.2rem;
  font-size: 1.4rem;

  @media only screen and (max-width: $bq-smaller) {
    display: flex;
    margin-top: 0;
  }

  @media only screen and (max-width: $bq-smallest) {
    font-size: 1.2rem;
  }



  &__item {
    position: relative;

    @media only screen and (max-width: $bq-smaller) {
      flex: 1;
      display: flex;
      justify-content: center;
    }


    &::before {
      position: absolute;
      content: "";
      width: 3px;
      height: 100%;
      background-color: var(--color-primary);
      top: 0;
      left: 0;
      transform: scaleY(0);
      transition: transform 0.2s,
                  width .4s cubic-bezier(1,0,0,1) 0.2s,
                  background-color 0.1s;
      // z-index:
    }

    &:hover::before,
    &--active::before {
      transform: scaleY(1);
      width: 100%;
    }

    &:active::before {
      background-color: var(--color-primary-light);
    }

  }

  &__link:link,
  &__link:visited {
    // creates stacking context for z-index
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    padding: 1.6rem 2.4rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-grey-light-3);

    @media only screen and (max-width: $bq-very-small) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

  }

  &__icon {
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 0.7rem;
    fill: currentColor;

    @media only screen and (max-width: $bq-smallest) {
      display: none;
    }


  }
}

// == Footer for main navigation ==
.sidebar__footer {
  font-size: 1.2rem;
  text-align: center;
  color: var(--color-grey-light-4);
  padding: 1.6rem 3.2rem;

  @media only screen and (max-width: $bq-smaller) {
    display: none;
  }

}

// == Hotel Photo Gallery ==
.gallery {
  display: flex;

  // &__item {
  // }

  &__photo {
    width: 100%;
    vertical-align: bottom;
  }
}

// == Hotel Overview ==
.overview {
  display: flex;
  align-items: center;

  &__heading {
    font-size: 2.4rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.6rem 2.4rem;

    @media only screen and (max-width: $bq-very-small) {
      font-size: 2rem;
      padding: 1.2rem 2rem;
    }

  }


  &__icon-star,
  &__icon-location {
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--color-primary);
  }

  &__stars {
    display: flex;
    gap: 0.6rem;
    margin-right: auto;

    @media only screen and (max-width: $bq-large) {
      gap: 0rem;
    }

  }

  &__location {
    display: flex;
    font-size: 1.2rem;
  }

  &__icon-location {
    margin-right: 0.8rem;

    @media only screen and (max-width: $bq-very-small) {
      display: none;
    }

  }


  &__rating {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    color: var(--color-grey-light-2);
    margin-left: 2.4rem;
    padding: 0 1.6rem;
  }


  &__rating-average {
    font-size: 2.6rem;
    font-weight: 300;
    margin-bottom: -0.8rem;

    @media only screen and (max-width: $bq-very-small) {
      font-size: 2rem;
    }

    @media only screen and (max-width: $bq-smallest) {
      margin-bottom: 0;
    }


  }

  &__rating-votes {
    font-size: 1.2rem;

    @media only screen and (max-width: $bq-smaller) {
      font-size: 1.3rem;
    }

    @media only screen and (max-width: $bq-very-small) {
      font-size: 1rem;
    }

    @media only screen and (max-width: $bq-smallest) {
      display: none;
    }


  }
}

.btn-inline {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--color-primary);
  padding-bottom: 2px;
  border-bottom: 1px solid currentColor;
  font-family: inherit;
  font-size: inherit;
  transition: all ;

  span {
    margin-left: 5px;
    transition: margin-left 0.2s;
  }

  &:hover {
    color: var(--color-grey-dark-1);

    span {
      margin-left: 0.8rem;
    }
  }
}

.review {

  padding: 3rem;
  background-color: #fff;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 3.2rem;
  }

  &__text {
    margin-bottom: 2.4rem;
  }

  &__user-box {
    display: flex;
    align-items: center;
  }

  &__user-photo {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin-right: 1.6rem;
  }

  &__user-text-box {
    display: flex;
    flex-direction: column;
    margin-right: auto;
  }

  &__user-name {
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  &__date {
    font-size: 1rem;
  }

  &__rating {
    font-size: 2.4rem;
    font-weight: 300;
    color: var(--color-primary);
  }
}

// == CTA  section ==

.cta {
  text-align: center;
  padding: 3rem 0;

  &__heading {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 2.4rem;
  }
}


.btn-scroll {
  position: relative;
  cursor: pointer;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  color: #fff;
  // padding: 2rem;
  border-radius: 5rem;
  border: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  overflow: hidden;

  & > * {
    width: 100%;
    height: 100%;
    display: inline-block;
    transition: all 0.2s;
  }

  &__invisible {
    // color: lightblue;
    position: absolute;
    top: -100%;
    padding: 2rem 0;
  }

  &__visible {
    padding: 2rem 7.5rem;
  }

  &:hover {
    background-image: linear-gradient(to right, var(--color-primary-dark), var(--color-primary-light));
  }

  &:hover &__visible {
    transform: translateY(100%);
  }

  &:hover &__invisible {
    top: 0;
  }


}

