.container {
  max-width: 128rem;
  // margin: 8rem auto;
  box-shadow: 0 1.6rem 3.6rem rgba(#000, 0.075);
}

.header {
  height: 6.4rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-light-2);
  color: var()
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  // color: var(--color-grey-light-1);
  flex: 0 0 18%;
}

.hotel-view {
  flex: 1;
  background-color: #fff;
}
